.small-footer {
  background-color: #FFFFFF;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 15px 0;
  gap: 15px;
}

@media (min-width: 1060px) {
  .small-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 182px 15px 182px;
  }
}