.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: dense;
  gap: 10px;
}

.image-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}