.chiplist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 50px 0 40px;
}

.chiplist div{
  display: flex;
  gap: 12px;
}

.icon-chip {
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 100px;
  background-color: #e5e5e5;
  padding: 4px 25px 4px 4px;

  cursor: pointer;

  transition:
    background-color 0.3s ease,
    padding 0.3s ease;
}

.icon-chip:hover {
  background-color: var(--green);
}

.active-chip {
  background-color: var(--green);
  padding: 4px 4px 4px 20px;
  flex-direction: row-reverse;
}

.chip-icon {
  width: 40px;
  height: 40px;
  flex: 0 0 40px;

  border-radius: 50%;
  background-color: var(--white);
  color: #e5e5e5;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 0.3s ease;
}

.icon-chip:hover .chip-icon,
.active-icon {
  color: var(--green);
}

.chip-label {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--white);
  white-space: nowrap;
}

/* .icon-chip {
  border-radius: 100px;
  display: flex;
  align-items: center;
  min-width: fit-content;
  background-color: #e5e5e5;
  padding: 4px 25px 4px 4px;
  transition: background-color 0.2s ease;
}

.icon-chip:hover {
  cursor: pointer;
}

.active-chip {
  background-color: var(--green);
  flex-flow: row-reverse;
  padding: 4px 4px 4px 20px;
}

.chip-icon {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  padding: 0;
  color: #e5e5e5;
  background-color: var(--white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: color 0.2s ease;
}

.active-icon {
  color: var(--green);
} */

.chip-label {
  font-weight: bold;
  font-size: 0.9rem;
  color: var(--white);
  white-space: nowrap;
}

@media (max-width: 480px) {
  .chiplist {
    justify-content: center;
  }

  .icon-chip {
    flex: 0 0 auto;
  }

  .chip-label {
    display:none;
  }
}
