.nuttige-link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
}

.link-icon {
  color: var(--yellow);
}

.nuttige-links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.nuttige-link:hover {
  text-decoration: none;
  color: var(--green);
}