.nuttige-link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
}

.link-icon {
  color: var(--yellow);
  font-size: 25px;
}

.nuttige-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}