.visiesectie {
  display: flex;
  gap: 300px
}

@media (max-width: 1028px) {
  .visiesectie {
    flex-direction: column;
    gap: 20px;
  }

  .visiefoto {
    display: flex;
    justify-content: center;
  }
}