.links-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
}

@media (min-width: 1060px) {
  .link {
    font-size: 1.2rem;
  }
}

@media (max-width: 390px) {
  .link {
    font-size: 1rem;
  }
}