nav {
  background-color: var(--black);
  margin: 0 auto;
  max-width: 1280px;
  padding: 30px 60px;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

@media (max-width: 1024px) {
  nav {
    padding: 30px 35px;
  }
}