.navbar {
  background-color: var(--black);
  color: var(--white);
}

.navbar .container {
  padding-top: 20px;
  padding-bottom: 15px;
}

.logo {
  height: 50px;
  width: 100%;
}

.logo img {
  height: 100%;
}

.navbar-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-links div:first-child {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav-link {
  position: relative;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 0.9rem;
  color: var(--white);
}

.nav-link::after,
.submenu-item span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -12px;
  height: 2px;
  background-color: var(--green);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.submenu-item span {
  position: relative;
  display: inline-block;
}

.nav-link:hover::after,
.submenu-item:hover span::after {
  opacity: 1;
}

.nav-link:hover,
.submenu-item:hover {
  text-decoration: none;
}

.contact-button {
  background-color: var(--green);
  color: var(--black);
  border-radius: 1000px;
  padding: 9px 19px;
  font-weight: 700;
  font-size: 0.9rem;
  font-style: normal;
  text-decoration: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.contact-link {
  text-decoration: none;
}

.contact-link:hover {
  text-decoration: none;
}

.contact-button:hover {
  text-decoration: none;
  background-color: var(--white);
}

.over-ons-wrapper {
  position: relative;
}

.over-ons-link {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  gap: 12px !important;
  cursor: pointer;
}

.submenu {
  position: absolute;
  border-top: 1px solid var(--white);
  top: 200%;
  left: 0;
  background-color: var(--light-grey);
  padding: 15px 0 20px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.submenu-item {
  min-width: 120px;
  color: var(--white);
  font-style: normal;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: 500;
  white-space: nowrap;
}

.over-ons-link i {
  color: var(--green);
}

.over-ons-link:hover {
  cursor: pointer;
}

.user-icon {
  color: var(--green);
  display: flex;
  align-items: center;
  font-size: 2rem;
  transition: color 0.2s ease;
}

.user-icon:hover {
  color: var(--white);
  text-decoration: none;
}

.navbar-mobile {
  display: none;
}

.navbar-mobile i {
  font-size: 1.7rem;
}

.hamburger-btn {
  background: none;
  color: white;
  border: none;
  transition: 0.2s ease;
}

.hamburger-btn:hover {
  color: var(--green);
}

.hamburger-btn:hover {
  cursor: pointer;
}

.close-btn {
  transition: 0.2s ease;
  cursor: pointer;
}

.close-btn:hover {
  cursor: pointer;
  color: var(--green);
}

@media (max-width: 1028px) {

  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 40px;
  }

  .navbar .container {
    padding: 20px 20px 15px;
    padding-bottom: 15px;
  }

  .navbar-mobile .nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}