nav {
  background-color: var(--black);
}

nav div {
  margin: 0 auto;
  max-width: 1280px;
  padding: 30px 60px;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

@media (max-width: 768px) {
  nav div {
    padding: 30px 35px;
  }
}