.navbar {
  background-color: black;
  color: white;
  padding: 15px 20px;
}

.logo {
  height: 65px;
}

.navbar-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  text-decoration: none;
  font-style: normal;
  color: white;
}

.over-ons-link {
  display: flex;
  align-items: center;
  gap: 5px;
}

.over-ons-link:hover {
  cursor: pointer;
}

.user-icon {
  color: var(--green);
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

.user-icon:hover {
  color: var(--white);
}

.navbar-mobile {
  display: none;
}

.hamburger-btn {
  background-color: black;
  color: white;
  border: none;
  transition: 0.2s ease;
}

.hamburger-btn:hover {
  color: var(--green);
}

.hamburger-btn:hover {
  cursor: pointer;
}

.close-btn:hover {
  cursor: pointer;
}

@media (max-width: 1028px) {
  .navbar-desktop {
    display: none;
  }

  .navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-mobile .nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}