.pdf-wrapper {
  overflow-y: auto;
  max-height: 80vh;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pdf-wrapper canvas {
  width: 100% !important;
  height: auto !important;
}
