.socials-list {
  margin: 0;
  display: flex;
  gap: 20px;
}

.social-link {
  font-size: 40px;
  color: white;
  transition: ease 0.3s;
}

.social-link:hover {
  color: var(--green);
}

@media (min-width: 1028px) {
  .socials-list {
    flex-direction: column;
    gap: 5px;
  }

  .social-link {
    font-size: 30px;
  }
}