.socials-list {
  margin: 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.social-link {
  font-size: 28px;
  color: white;
  transition: ease 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  color: var(--green);
}

@media (max-width: 1028px) {
  .social-link {
    font-size: 32px;
  }

  .socials-list {
    gap: 20px;
    flex-direction: row;
    justify-content: center;
  }
}