.sponsor-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  max-width: 100%;
  scale: 0.8;
}

.sponsor-wrapper:hover{
  cursor: pointer;
}

.sponsor-wrapper:hover .sponsor-logo{  
  transform: scale(1);
}

@media (max-width: 768px) {
  .sponsor-wrapper {
    scale: 1;
  }
}

.sponsor-img-wrapper{
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.sponsor-name{
  text-align: center;
  align-self: center;
}

.sponsor-logo{
  height: 100%;
  width: 85%;
  object-fit: contain;
  transform: scale(0.8);
  transition: transform 0.3s ease;
}

.overlay-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.overlay-img-wrapper{
  aspect-ratio: 4/3;
  display: flex;
  justify-content: center;
  max-width: 50%;
}