.primary-button, 
.primary-button-dark {
  font-size: 0.8rem;
  font-weight: 600;
  padding: 15px 40px;
  border: none;
  border-radius: 1000px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  text-align: center;
  font-style: normal;
}

.primary-button {
  background-color: var(--black);
  color: var(--white);
}

.primary-button-dark {
  background-color: var(--green);
  color: var(--white);
}

.primary-button:hover {
  background-color: var(--green);
  text-decoration: none;
}

.primary-button-dark:hover {
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
}

.primary-button.disabled,
.primary-button-dark.disabled {
  cursor: not-allowed;
}

.primary-button.disabled {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}

.primary-button-dark.disabled {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(79, 216, 73, 0.2);
}

@media (max-width: 768px) {
  .primary-button, 
  .primary-button-dark {
    font-weight: 600;
    padding: 20px 40px;
  }
}