.interesting-section h1,
.description-section h1,
.description-section p {
  color: var(--black);
}

.img-card-wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;

  display: flex;
}

.event-name {

  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 800;

}

.info-card {
  background-color: var(--white);
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 42px;
  min-width: 440px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  position: absolute;
  bottom: -50px;
  right: 0px;
  z-index: 10;
}

@media (max-width: 768px) {
  .info-card {
    position: static; 
    min-width: auto;
  }

  .img-card-wrapper {
    flex-direction: column;
  }
  
  .event-img {
    max-width: 100%;
  }
  
  .background {
    visibility: hidden;
  }

  .event-name {
    text-align: center;
    color: var(--black);  
    margin-block: 0.67em;
  }
}

@media (min-width: 768px){
  .event-img{
    max-width: 75%;
    max-height: 100%;
    height: fit-content;
    right:0px;
  }

  .img-card-wrapper{
    height: 450px;
  }

  .event-name {
    text-align: left;
    color: var(--white);  
    max-width: 250px;
    padding-left: 10px;
    padding-bottom: 210px;
    align-self: flex-end;
  }
}

.event-img {
  border-radius: 10px;
  z-index: 1;
}

.icon-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 20px;
}

.icon-info i {
  color: var(--green);
}

.icon-info span {
  font-weight: bold;
}

.button-div {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  max-height: 550px;
}