.card {
  border: 1px solid black;
  border-radius: 10px;
}

.event-info {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: row;
}

.date {
  border-right: 1px solid #4FD849;
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding: 30px;
}

.day {
  font-size: 46px;
}

.month {
  font-size: 25px;
}

.title-time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

.title {
  font-size: 25px;
  font-weight: bolder;
}

.time {
  color: #4FD849;
  font-size: 12px;
  font-weight: bold;
}