.breadcrumb-wrapper {
  margin-bottom: 30px;
}

.home,
.breadcrumb-wrapper a:not(:last-child) {
  color: var(--black);
  font-style: normal;
}

.breadcrumb-separator {
  text-decoration: none;
}

.last-breadcrumb {
  color: var(--green);
  font-weight: bold;
}
