.select-field {
  display: flex;
  justify-content: space-between;
}

select,
option {
  padding: 5px;
  width: 100%;
}

@media (max-width: 1028px) {
  .select-field {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}