.title-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .title-button-wrapper {
    flex-direction: column;
    justify-content: center;
  }
}
