.carousel-wrapper .carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.carousel-end-spacer {
  flex: 0 0 10px;
  display: none;
}

@media (max-width: 768px) {
  .carousel-wrapper {
    margin-top: 50px;
  }

  .carousel {
    display: flex;
    padding: 0 30px 0;
  }

  .event-card {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }

  .carousel-end-spacer {
    display: block;
  }

  .carousel-wrapper .carousel {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .carousel-wrapper.carousel-mobile .carousel {
    flex-direction: row;
    overflow-x: auto;
  }
}
