.carousel-wrapper .carousel {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

@media (max-width: 1024px) {
  .carousel-wrapper {
    margin-top: 50px;
    overflow-x: auto;
  }

  .carousel {
    display: flex;
    padding: 0 30px 0;
  }

  .event-card {
    flex: 0 0 100%;
    scroll-snap-align: center;
  }
}