.info-section {
  padding: 50px 300px 50px 0;
  display: flex;
  align-items: center;
  gap: 50px;
}

.info-section > *{
  z-index: 50;
}

.schild {
  max-width: 40%;
  max-height: 400px;
}

.info-section h1 {
  font-size: 2.5rem;
}

.info-section p {
  font-size: 1.1rem;
  padding-bottom: 20px;
}


/*
.text {
  font-size: 26px;
  font-weight: normal;
  line-height: 46px;
}*/

@media (max-width: 1024px) {

  .info-section {
    padding: 30px 0;
    flex-direction: column;
    gap: 20px;
  }

  .info-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .schild {
    max-width: 60%;
    max-height: auto;
  }

  .titel {
    display: none;
  }
}