/* SPONSORSECTIE */
.info-button {
  display: flex;
  justify-content: center;
}

.sponsor-titel {
  text-align: left;
}

@media (max-width: 1028px) {
  .sponsor-titel {
    text-align: center;
  }
}

/* SPONSORLIST */
.sponsorlist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  overflow-x: auto;
}

@media (max-width: 1028px) {
  .sponsorlist {
    padding: 0 20px 50px 20px;
  }
}