.kernwaarden-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.kernwaarde {
  display: flex;
  align-items: center;
  gap: 10px;
}

.waarde-nr {
  border: 2px solid var(--green);
  color: var(--green);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  margin: 0;
}

@media (max-width: 768px) {
  .kernwaarde {
    display: flex;
    flex-direction: column;
  }

  .kernwaarde h3 {
    margin-top: 10px;
  }

  .kernwaarden-list {
    gap: 30px;
  }
}