.nuttige-links {
  display: flex;
}

.nuttige-links-mobile {
  display: none;
  justify-content: center;
  width: 100%;
}

.nuttige-links-container {
  display: flex;
  align-items: stretch;
  justify-self: start;
  gap: 100px;
}

@media (max-width: 1028px) {
  .nuttige-links-desktop {
    display: none;
  }

  .nuttige-links-mobile {
    display: flex;
  }
}