.jaarthema {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 120px;
}

.vid {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 20px 0 50px;
  border-radius: 8px;
}
