@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* ====================================== */
/* ======= DEFAULT BUTTON STYLES ======== */
/* ====================================== */
.button-light {
  color: white;
  background-color: black;
  padding: 25px 67px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.button-light:hover {
  background-color: #4FD849;
  transition: 0.2s ease;
}

.button-light:disabled {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
}

.button-dark {
  color: white;
  background-color: #4FD849;
  padding: 25px 67px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.button-dark:hover {
  background-color: #FFFFFF;
  color: black;
  transition: 0.2s ease;
}

.button-dark:disabled {
  cursor: not-allowed;
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(79, 216, 73, 0.2);
}

/* ====================================== */
/* ======== DEFAULT TEKST STYLES ======== */
/* ====================================== */
h1 {
  font-size: 46px;
  font-weight: bolder;
  margin-bottom: 70px;
}

h1+p {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 70px;
}

h2 {
  font-size: 25px;
  font-weight: bolder;
  margin-bottom: 50px;
}

h2+p {
  font-size: 20px;
  line-height: 35px;
  margin-bottom: 50px;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 30px;
}

h3+p {
  font-size: 20px;
  line-height: 35px;
}

.text-link {
  color: #4FD849;
  font-style: italic;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}

@media (max-width: 1028px) {
  h1 {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 50px;
  }

  h1+p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 70px;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h2+p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
  }

  h3+p {
    font-size: 16px;
    line-height: 30px;
  }
}