@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
  font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  --black: #000;
  --white: #fff;
  --dark-grey: #121212;
  --light-grey: #191C23;
  --green: #4FD849;
  --yellow: #EEE300;
}


/* ====================================== */
/* =============== LAYOUT =============== */
/* ====================================== */

/* Breakpoints                            */
/* =======================================*/
/* mobile: 480px;                         */
/* tablet: 768px;                         */
/* desktop: 1024px;                       */ 
/* large: 1200px;                         */

.container {
  margin: 0 auto;
  max-width: 1280px; /*of 1400px*/
  padding: 30px 60px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-bg {
  background-color: var(--dark-grey);
  color: white;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 50px 0;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .container {
    padding: 25px 35px;
  }

  .button-wrapper {
    flex-direction: column;
    gap: 15px;
  }
}


/* ====================================== */
/* ======== DEFAULT TEKST STYLES ======== */
/* ====================================== */

h1 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 800;
  margin: 40px 0;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-weight: 800;
  margin: 25px 0;
}

h3 {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  margin: 20px 0;
}

p {
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 20px;
  line-break: auto;
  hyphens: auto;
}

div p:last-child {
  margin-bottom: 60px;
}

a {
  color: var(--green);
  font-style: italic;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footnote {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--green);
}

@media (max-width: 1024px) {
  h1, h2, h3, p {
    text-align: center;
  }

  h1 {
    font-size: 1.6rem;
    line-height: 1.6rem;
    margin: 35px 0;
  }

  h2, h3 {
    font-size: 1.1rem;
    line-height: 1.1rem;
    margin: 28px 0;
  }

  div p:last-child {
    margin-bottom: 50px;
  }
}