.fixed-image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 100px);
  grid-gap: 10px;
  grid-template-areas: 
    "a b b e e f"
    "a b b e e f"
    "a c c e e f"
    "a c c e e g"
    "d c c e e g"
    "d c c e e g"
    "d c c e e g";
  padding-bottom: 10px;
}

.fixed-image-grid-item {
  width: 100%;
  height: 100%;
}

.fixed-image-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}