.fixed-image-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 100px);
  grid-gap: 10px;
  grid-template-areas: 
    "a b b e e f"
    "a b b e e f"
    "a c c e e f"
    "a c c e e g"
    "d c c e e g"
    "d c c e e g"
    "d c c e e g";
    padding-bottom: 10px;
}

.fixed-image-grid-item {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fixed-image-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.fixed-image-grid-item:hover img {
  transform: scale(1.05);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  cursor: pointer;
}

.lightbox img {
  max-width: 70%;
  max-height: 70%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.lightbox-close,
.navigate-buttons button {
  color: var(--white);
  background: var(--light-grey);
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  z-index: 1001;
}

.lightbox-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

.navigate-buttons {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  bottom: auto;
  transform: translateY(50%);
  opacity: 0.7;
}

.navigate-buttons button {
  transform: translateY(-50%);
  font-size: 1rem;
}

@media (max-width: 1024px) {
  .fixed-image-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    grid-template-areas: 
      "a a a b"
      "a a a b"
      "c d d d"
      "c d d d"
      "e e f g";
  }

  
}

@media (max-width: 768px) {
  .fixed-image-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 75px);
    grid-template-areas: 
      "a b b c"
      "a b b c"
      "a e e c"
      "d e e c"
      "d e e c"
      "d e e c";
    padding-top: 20px;
  }

  .lightbox img {
    max-width: 100%;
    max-height: 60%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
  }
}