.footer-title-container {
  border-bottom: 4px solid var(--green);
  margin-bottom: 40px;
}

.light-text h1 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-sections>* {
  flex: 1;
  min-width: 0;
}

@media (max-width: 1028px) {
  .footer-sections {
    flex-direction: column;
  }

  .footer-sections>* {
    width: 100%;
  }
}