.dark-bg .container {
  padding-bottom: 0 !important;
  padding-right: 0 !important;
}

.big-footer {
  position: relative;
}

.footer-title-container {
  border-bottom: 4px solid var(--green);
  margin-bottom: 40px;
}

.light-text h1 {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-sections {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.footer-sections>* {
  flex: 1;
  min-width: 0;
}

.jormungandr-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 200px;
  overflow: hidden;
}

.jormungandr {
  width: 100%;
  transform: scale(1.07);
  transform-origin: top;
}


@media (max-width: 1028px) {
  .footer-sections {
    flex-direction: column;
  }

  .footer-sections>* {
    width: 100%;
  }

  .jormungandr {
    display: none;
  }
}