.big-footer {
  position: relative;
}

.footer-title {
  border-bottom: 3px solid var(--green);
  padding-bottom: 30px;
}

.footer-sections {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  z-index: 100;
}

.container.footer-sections {
  padding-top: 40px;
  padding-bottom: 150px;
}

.footer-sections input {
  width: 100%;
  box-sizing: border-box;
}

.nuttige-links {
  flex: 2;
}

.contact-section {
  flex: 3;
}

.jormungandr {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 35%;
  object-fit: cover;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1028px) {

  .jormungandr {
    display: none;
  }

  .container.footer-sections {
    flex-direction: column;
    gap: 25px;
    padding-top: 40px;
    padding-bottom: 60px;
  }
}