.pagination{
  display: flex;
  flex-direction: row;
  gap: 1px;
  justify-content: center;
  min-width: 0px;
}

.pagination > button {
  background: none;
  border: none;
  text-align: center;
  padding: 2px 3px;
  width: 30px;
}

.pagination > button:enabled:hover {
  text-decoration: underline;
  cursor: pointer;
}

.pagination > button:disabled {
  opacity: 75%;
}

.pagination > .first-page{
  color: var(--white);
  border-style: solid;
  border-radius: 100px;
  background-color: var(--green);
  border-color: var(--green);
}

.pagination > .current-page{
  font-weight: bolder;
}

.pagination > .last-page{
  color: var(--white);
  font-weight: bolder;
  border-style: solid;
  border-radius: 100px;
  background-color: var(--green);
  border-color: var(--green);
}

.pagination > button > svg {
  width: 100%;
  height: 100%;
}