.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -100px;
  position: relative;
  z-index: 100;
  flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .card-wrapper {
    margin-top: -140px;
    justify-content: center;
  }
}