.card-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: -100px;
  position: relative;
  z-index: 100;
  flex-wrap: wrap;
}

.card-wrapper .activeTracker {
  width: 20%;
}

.active-underline {
  position: absolute;
  bottom: -10px;
  height: 4px;
  background-color: var(--green);
  transition: transform 0.3s ease, width 0.3s ease;
}

@media (max-width: 1024px) {
  .card-wrapper {
    margin-top: -140px;
    justify-content: center;
  }
}