.characteristic-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
  width: 20%;
}

.circle {
  background-color: var(--white);
  color: var(--black);
  width: 60%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.characteristic-text {
  width: 80%;
  text-align: center;
  margin-top: 10px;
}

.characteristic-text h3 {
  color: var(--green);
}

.characteristic-text p {
  font-weight: 600;
  font-size: 0.9rem;
}

.characteristic-card .underline {
  height: 4px;
  width: 100%;
  background-color: var(--green);
  position: absolute;
  bottom: -10px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.characteristic-card.active .underline {
  opacity: 1;
}

.characteristic-card.muted .circle {
  background-color: #777777;
}

.characteristic-card.muted .characteristic-text {
  opacity: 0.5;
}

@media (max-width: 1024px) {
  .characteristic-card {
    width: 70%;
  }
}