.admin-navbar{
  position: fixed;
  left: 0px;
  height: 100vh;
  padding: 20px;
  width: 205px;
  background-color: var(--dark-grey);
  border-right: 5px double black;
}

.admin-navbar div{
  color: var(--white);
  margin-left: 20px;
}