.countdown {
  display: flex;
  gap: 40px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countdown-item:last-of-type h1 {
  color: #E00818;
}

.countdown-item h1 {
  font-size: 2.8rem;
}

.countdown-item h2 {
  font-size: 1rem;
  color: var(--white);
  margin: 15px 0 0;
}

@media (max-width: 768px) {
  .countdown {
    gap: 2px;
  }

  .countdown-item h1 {
    font-size: 1.7rem;
  }

  .countdown-item h2 {
    font-size: 0.8rem;
    margin: 15px 0 0;
  }
}