.sponsorlist {
  padding: 0 60px;
  margin: 0 auto;
  max-width: 1280px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  place-items: center;
}

.sponsorlist a img {
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.sponsorlist a:hover img {
  transform: scale(1.3);
}
