.sponsorlist-wrapper {
  width: 100%;
}

.sponsorlist {
  padding: 10px 60px;
  margin: 0 auto;
  max-width: 1280px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  place-items: center;
}

.sponsorlist a img {
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.sponsorlist a:hover img {
  transform: scale(1.3);
}

@media (max-width: 768px) {
  .sponsorlist-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
  }

  .sponsorlist {
    display: flex;
    gap: 40px;
    padding: 30px 0;
    margin: 0;
    max-width: none;
    width: max-content;
    animation: marquee 20s linear infinite;
  }

  .sponsorlist a img {
    height: 200px;
    object-fit: contain;
    transform: none !important;
  }

  .sponsorlist a:hover img {
    transform: none;
  }

  .container-sm-bm {
    display: none;
  }

  @keyframes marquee {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
