.dark-bg {
  position: relative;
}

.dark-bg.schild-sectie .container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.bg-image {
  position: absolute;
  right: 0;
  top: 0;
  width: 25vw;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.socials-wrapper {
  position: fixed;
  right: 0;
  top: 160px;
  background: var(--black);
  padding: 1.3rem 1rem;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  z-index: 999;
}


@media (max-width: 768px) {
  .dark-bg .bg-image {
    left: 0;
    width: 100%;
    height: 160px;
    object-position: center 35%;
  }

  .dark-bg.schild-sectie .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 1028px) {
  .socials-wrapper {
    display: none;
  }
}