.input-field {
  display: flex;
  justify-content: space-between;

}

input {
  padding: 5px;
  width: 100%;
}

label {
  color: white;
  font-weight: 700;
  margin: 5px 0;
  min-width: 150px;
}

.textarea-field {
  height: 120px;
  resize: vertical;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  width: 100%;
}


@media (max-width: 1028px) {
  .input-field {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}