button {
  margin-bottom: 30px;
}

form {
  display: flex;
  gap: 25px;
}

.form-status {
  padding: 15px 25px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-status i {
  font-size: 1.4rem;
}

.form-status.success {
  background-color: var(--darker-green);
  color: var(--white);
}