.event-card {
  flex: 1;
  aspect-ratio: 8 / 10;
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: scale(1.03);
}

.event-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 0 0 8px 8px;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.event-info .line {
  width: 2px;
  background-color: var(--green);
  align-self: stretch;
}

.event-info .date {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  padding: 10px 25px;
}

.event-info .date p {
  margin-bottom: 0;
  text-align: center;
}

.day {
  font-size: 2rem;
  line-height: 2.1rem;
}

.month {
  font-size: 1rem;
}

.event-info .title-time {
  width: 100%;
  padding: 25px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.event-info .title-time p {
  margin-bottom: 0;
  text-align: left;
}

.event-info .title-time h3 {
  margin: 0;
  text-align: left;
  line-break: auto;
  overflow-wrap: break-word;
  hyphens: auto;
}

.icon {
  position: absolute;
  top: 13px;
  right: 13px;
}


@media (max-width: 768px) {
  .event-card {
    aspect-ratio: 7 / 8;
  }

  .event-card:hover {
    transform: none;
  }
}