.event-wrapper {
  display: flex;
  background-color: var(--black);
  border-radius: 8px;
  margin-bottom: 20px;
}

.info-section {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title-and-icon {
  display: flex;
}

h1,
p {
  color: var(--white);
}

.location {
  color: var(--green);
}

.image {
  width: 50%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
