.event-wrapper {
  display: flex;
  background-color: var(--black);
  border-radius: 8px;
  width: 100%;
  height: 650px;
}

.info-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 130px;
  margin-right: -150px;
}
/* TODO: Hardcoded margins hier zijn funky wunky dus moet nog gefixed worden */

.title-and-icon {
  display: flex;
}

h1,
p {
  color: var(--white);
}

.location {
  color: var(--green);
}

.image {
  width: 50%;
  object-fit: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
