.kernwaarden-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

/* KERNWAARDE */
.kernwaarde {
  display: flex;
  align-items: center;
  gap: 10px;
}

.waarde-nr {
  border: 3px solid #4FD849;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4FD849;
  font-weight: bolder;
  font-size: 25px;
}

.waarde-text {
  font-size: 25px;
  font-weight: bolder;
}