.icon {
  border: 2px solid var(--white);
  border-radius: 50%;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}